# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

scipy matplotlib numpy pandas geopy gsw multitaper pytest cmocean rioxarray cartopy mixsea setuptools
